@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
body{
   /* background:linear-gradient(90deg, rgb(91, 12, 91),rgb(0, 0, 0));*/
   background-color:#ffffff;
   
   
   
}

.srch
{
   
    display:flex;
    justify-content: center;
    align-items: center;
    color:rgb(24, 89, 224);
    font-family: 'poppins';
    font-weight: 700;
    font-size: 70px;
    cursor:pointer;
    position:relative;
    border-radius: 0px;
    animation:fadeIn 1.5s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity:0;
    }
     to{
        opacity:2;
     }
}
.srch::after
{
    content:"";
    width:0;
    height:2px;
    background-color: rgb(133, 133, 133);
    position:absolute;
    bottom:-5px;
    
   
}
.srch:hover::after{
 width:50%;
 transition: width 0.3s linear;
}
.sec-1
{
    margin-top: 60px;
    display:flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    color:rgb(0, 0, 0);
    font-size: 40px;
    font-family: 'Open Sans';

    
}

.img
{
    margin-top: 30px;
    height:75px;
    width:900px;
    margin:30px;
    border:1px solid transparent;
    box-shadow: 4px 0px 8px 2px rgba(53, 53, 54, 0.728);
    border-radius: 20px;
    background-color: rgb(248, 251, 255);
   display:flex;
    justify-content: left;
    padding: 15px;
    align-items: center;
    
}
.img:hover{
    cursor: pointer;
    transition: width 0.4s,height 0.4s ease-out ;
   width:910px;
    height:88px;
    
    
    
}
.fa-html5
{
    margin-right:55px;
    color:rgb(24, 89, 224);
    
}
.fa-css3-alt
{
    margin-right:55px;
    color:rgb(24, 89, 224);
}
.fa-square-js
{
    margin-right:55px;
    color:rgb(24, 89, 224);
}
.fa-php
{
    margin-right:55px;
    color:rgb(24, 89, 224);
}
#js
{
    font-size:35px ;
    font-weight: 780;
}
footer{
    
   
    border-top: 1px solid grey;
    padding-top:20px;
    font-family: 'Open Sans';
    font-size:22px;
    color:white;
    background-color: rgb(23, 27, 49);
    height:25vh;
    margin-left:-10px;
    margin-right:-10px;
    margin-bottom:-10px;
    
   
}
.foottitle
{
    display:flex;
    justify-content: center;

}
 .fa-facebook
 {
    margin-right:60px;
 }
 .fa-instagram
 {
    margin-right: 60px;
 }
.fb
{ 
  margin-top:25px;  
  display:flex;
  justify-content: center;
  margin-right:10px;
  
}
.fa-copyright
{
    margin-right:5px;
    font-size: 15px;
    margin-top:8px;
}

@media screen and (max-width:1000px) {
    .sec-1{
        margin-top: 30px;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .srch
{
   
    display:flex;
    justify-content: center;
    align-items: center;
    color:rgb(24, 89, 224);
    font-family: 'Open Sans';
    font-size: 30px;
    cursor:pointer;
    position:relative;
    border-bottom: 2px solid rgb(133, 133, 133);
}
.srch::after
{
    content:"";
    width:0;
    height:2px;
    background-color: rgb(0, 0, 0);
  position:absolute;
  bottom:-2.3px;
    
   
}
.srch:hover::after{
 width:100%;
 transition: width 0.3s linear;
}
}
